@model IEnumerable<IssueModel>

<div class="mb-5">
    <nav class="navbar navbar-dark bg-secondary">
        <a href="#" class="navbar-brand">議題管理</a>
        <div class="form-inline">
            <a asp-area="Management" asp-controller="Issue" asp-action="Create" class="btn btn-primary icon-add"></a>
        </div>
    </nav>
</div>

<div class="container-fluid">
    <table class="table table-striped table-bordered table-hover table-sm">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>議題名稱</th>
                <th>議題簡介</th>
                <th>操作區</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.IssueName</td>
                    <td>@item.Intro</td>
                    <td>
                        <a asp-area="Management" asp-controller="IssueItem" asp-action="Index" asp-route-id="@item.Id" class="btn btn-secondary icon-comment"></a>
                        <a asp-area="Management" asp-controller="Issue" asp-action="Update" asp-route-id="@item.Id" class="btn btn-secondary icon-edit">編輯</a>
                        <a asp-area="Management" asp-controller="Issue" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-secondary icon-delete">刪除</a>
                        <a asp-area="Management" asp-controller="IssueRelativeLink" asp-action="Index" asp-route-id="@item.Id" class="btn btn-secondary icon-link">刪除</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts{
    <script>
        initDataTable($('table'));
    </script>
}
