@model List<UserEntity>

<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">使用者管理</li>
        </ol>
    </nav>
    <a class="float-right icon icon-create" asp-controller="User" asp-action="Create">新增</a>
</div>

<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>帳號</th>
                <th>姓名</th>
                <th>電話</th>
                <th>地址</th>
                <th>相關操作區</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Account</td>
                    <td>@item.Name</td>
                    <td>@item.Phone</td>
                    <td>@item.Address</td>
                    <td>
                        <a asp-controller="User" asp-action="Update" asp-route-id="@item.Id">編輯</a>
                        <a asp-controller="User" asp-action="Delete" asp-route-id="@item.Id">刪除</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>